.modal {
  background: var(--secondary-background);
  max-width: 599px;
  margin: 0 auto;
  padding: 64px;
  border-radius: 30px;
  position: relative;
}

.overlay {
  background: var(--overlay);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
