.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;

  padding: 14px 40px;
  border-radius: 30px;
}

.filled {
  border: 1px solid transparent;
  background-color: var(--orange-light);
  color: var(--secondary-background);
  transition: background-color var(--transition);
}

.filled:hover,
.filled:focus {
  background-color: var(--orange-dark);
}

.outlined {
  border: 1px solid rgba(25, 26, 21, 0.2);
  background-color: transparent;
  color: var(--main-color);
  transition: border-color var(--transition);
}

.outlined:hover,
.outlined:focus {
  border-color: var(--orange-dark);
}

.start {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;

  padding: 18px 50px;
}

.form {
  padding: 16px;
}
