.nav {
  display: flex;
  gap: 40px;
}

.link {
  letter-spacing: -0.01em;
  transition: color var(--transition);
}

.link:hover {
  color: var(--orange-light);
}

.isActive {
  position: relative;
}

.isActive::after {
  content: '';
  display: block;
  width: 9px;
  height: 8px;
  background-color: var(--orange-light);
  border-radius: 50%;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}
