.logo {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: var(--orange-light);
}

.part2 {
  font-weight: 500;
}

.part3 {
  font-weight: 600;
  color: var(--main-color);
}
